# --- IDEs and Editors ---
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# --- OS Specific ---
.DS_Store
Thumbs.db
*.tmp
*.bak

# --- Node/Frontend ---
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache
.stylelintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Rust/Backend ---
target/
**/*.rs.bk
debug/
release/
!android/app/src/debug/
!android/app/src/release/

# --- Android ---
.gradle/
build/
android/.gradle/
android/build/
android/app/build/
android/app/src/main/jniLibs/
local.properties
Captures/
*.apk
*.aar
*.jks
*.keystore
.externalNativeBuild
.cxx
*.hprof
*.klib

# --- iOS ---
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.appbox
*.ipa
*.dSYM.zip
*.dSYM

# CocosPods
Pods/
Podfile.lock
/Frameworks/

# --- Project Specific ---
*.log
.env
.env.*
!.env.example
